*{ 
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(26, 26, 82);
}
.content{
    display: flex;
    justify-content: center;
}
.counter{

    display: flex;
    justify-content: center;
    gap: 20px;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
   margin-bottom: 20px;
}
p{
    color: white;
    display: flex;
    justify-content: center;
    font-size:120px;
    margin-bottom: 80px;
}
.header{
    background-color: black;
    color: white;
    margin-bottom: 150px;
    
}
li:hover  {
    font-weight: bold;
    cursor: pointer;
}
.he{
    display: flex;
/* background-color: black; */
    justify-content: space-evenly;
    
}
li{
    list-style-type: none;
    font-size: x-large;
}
button{
    height: 50px;
    width: 100px;
  border-radius: 10px;
  background-color: white;
  
}